html
  head
    title= title
    link(rel='stylesheet' href='/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
  body
    h1= title

    p Welcome to #{title}

    .users-list

    script(src='/js/libs/require.js' data-main='/js/app/app.js')
